.tasks-page-content{
    text-align: left;
    width: 90vw;
    margin: 2rem auto 0 auto;
}

.tasks-section{
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 1.5rem;
    min-height: calc(100vh - 16rem);
}

.tasks-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.add-tasks-button{
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
}

.add-tasks-button:hover{
    background-color: var(--primary-color);
    border-color: var(--hover-effect);
}

.tasks-page-content .page-sub-heading{
    margin-bottom: 1rem;
}

.tasks-page-content .page-main-heading{
    margin-bottom: 1rem;
}
