.homepage-content{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    min-height: calc(100vh - 5.15rem);
}

.homepage-content img{
    width: 25rem;
}

.homepage-text{
    display: flex;
    flex-direction: column;
}

.homepage-text .button{
    margin: 1rem;
    width: fit-content;
    align-self: center;
}

.homepage-links{
    display: flex;
    justify-content: center;
}

.page-container .img-credit-link{
    display: block;
    width: 100vw;
}

@media screen and (max-width: 800px) {
    .homepage-content{
        flex-wrap: wrap-reverse;
        gap: 1rem;
    }

    .homepage-content img{
        width: 25rem;
    }
}